@model ProjetGestioStock.Models.TblEntre

@{
    ViewData["Title"] = "Create";
}


<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Form Validation</h3>
                <p class="text-subtitle text-muted">...</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Form Validation</li>
                        <li class="breadcrumb-item active" aria-current="page">Parsley</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multiple Column</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form" data-parsley-validate asp-action="Create">
                                <div class="row">
                                    <!--<div class="col-md-6 col-12">
    <fieldset class="form-group">-->
                                    @*<select class="form-select" id="basicSelect">*@
                                    <!--@Html.DropDownListFor(m => m.Produit, ViewBag.ProduitList as SelectList, "-- Select produit Name", new { @class = "form-select" })-->
                                    @*</select>*@
                                    <!--</fieldset>
    </div>-->
                                    <div class="col-md-6 col-12">
                                        <fieldset class="form-group">
                                            <label for="last-name-column" class="form-label" asp-for="Produit">
                                                Nom du produit
                                            </label>
                                            <select asp-for="Produit" asp-items="ViewBag.ProduitList" class="form-select" id="produitSelect">
                                                <option value="">Select Produit</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <fieldset class="form-group">
                                            <label for="last-name-column" class="form-label" asp-for="Produit">
                                                Nom du Fournisseur
                                            </label>
                                            <select asp-for="Fournisseur" asp-items="ViewBag.FournisseurList" class="form-select" id="produitSelect">
                                                <option value="">Select Fournisseur</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column" class="form-label" asp-for="Qte">
                                                Quantite
                                            </label>
                                            <input id="last-name-column" class="form-control"
                                                   placeholder="Last Name" asp-for="Qte">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column" class="form-label" asp-for="Pu">
                                                Prix achat
                                            </label>
                                            <input id="last-name-column" class="form-control"
                                                   placeholder="Last Name" asp-for="Pu">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column" class="form-label" asp-for="Dateexpiration">
                                                Date expiration
                                            </label>
                                            <input id="last-name-column" class="form-control"
                                                   placeholder="Last Name" asp-for="Dateexpiration">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="last-name-column" class="form-label" asp-for="Dateday">
                                                Date ajout
                                            </label>
                                            <input id="last-name-column" class="form-control"
                                                   placeholder="Last Name" asp-for="Dateday">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit"
                                                class="btn btn-primary me-1 mb-1" value="Create">
                                            Submit
                                        </button>
                                        <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">
                                            Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Basic multiple Column Form section end -->
</div>

@*@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('produitSelect').change(function () {
                var selectProduit = $('produitSelect').val();

                if (selectProduit != null && selectProduit != '') {
                    $.getJSON(@Url.Action("") )
                }
            })
        })
    </script>
}*@
